<div>
  <h1>Task statistic</h1>
  <label for="datePicker">From</label>
  <input type="date"  id="datePicker" ng-model="start" class="form-control"/>
  <label for="datePicker">Till</label>
  <input type="date"  id="datePicker" ng-model="end" class="form-control"/>
  <table class="table table-bordered table-hover">
    <tr class="danger">
      <td>Task name</td>
      <td>Task start</td>
      <td>Task end</td>
      <td>Total nubmer of tasks</td>
    </tr>
    <tr ng-repeat="task in statistics">
      <td>{{task.taskName}}</td>
      <td>{{task.startDate}}</td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <p ng-bind="start"></p>
</div>
